@import 'modal.css';
body {
    padding: 100px 0;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    vertical-align: middle;
}

.container > .row {
    margin-top: 20px;
    margin-bottom: 30px;
}

span.badge-medium {
	padding: 11px 10px;
    margin-left: 8px;
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
}

.dropdown-item {
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #28a745;
    color: #fff !important;
}

@media (max-width: 992px) {
    .add-task {
        margin-top: 50px;
    }
}
